/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      to bottom,
      var(--background-gradient)
    ),
    repeating-linear-gradient(to right, var(--background-gradient)),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);

  background-blend-mode: normal;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Inter-Variable";

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  outline: 2px solid #000;
  outline-offset: -2px;
  min-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  min-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin-top: 100px;
  margin-bottom: 98px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: "PressStart2P-Regular";
}

.header-logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header-text {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

.main-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}

.card {
  outline: 2px solid #000;
  outline-offset: -2px;
  min-height: clamp(47.375rem, 43.018rem + 18.592vw, 59.75rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card-header {
  font-size: 18px;
  padding: 7px 12px 3px;
}

.card-image-container {
  height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  outline: 2px solid #000;
  margin: 2px;
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  opacity: 0.5;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  mix-blend-mode: hard-light;
}

.card-image {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.card-image-prep {
  background-image: url("../images/gif/prep.gif");
  background-position: -160px;
}

.card-image-sprint1_start {
  background-image: url("../images/gif/sprint1_start.gif");
  filter: saturate(50%);
}

.card-image-sprint1_finish {
  background-image: url("../images/gif/sprint1_finish.gif");
  filter: saturate(1000%);
}

.card-image-sprint2_start {
  background-image: url("../images/gif/sprint2_start.gif");
  filter: hue-rotate(90deg);
}

.card-image-sprint2_finish {
  background-image: url("../images/gif/sprint2_finish.gif");
  filter: invert(100%) hue-rotate(90deg);
}

.card-image-sprint3_start {
  background-image: url("../images/gif/sprint3_start.gif");
  filter: sepia(100%);
}

.card-image-sprint3_finish {
  background-image: url("../images/gif/sprint3_finish.gif");
  filter: blur(10px);
  background-position: 0px;
}

.card-image-here {
  background-image: url("../images/gif/here.gif");
  filter: invert(100%) blur(3px);
}

.card-text-block {
  padding: 25px 27px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card-button-container {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin-right: 27px;
  margin-bottom: 27px;
}

.like-icon {
  width: 38px;
  height: 38px;
  transform-origin: center;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -2px;
  transition: 0.3s ease;
}

/* Сердце */
.heart {
}

.contour {
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: fill;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.core {
  transition-delay: 0.03s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: transparent;
}

.sparks {
  fill: transparent;
  transform-origin: center;
}

.like-icon:hover .core {
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: rgb(0, 0, 0);
}

.like-icon:hover .main-body {
  fill: rgb(0, 0, 0);
  transition-delay: 0.05s;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.like-icon:active .core {
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: rgb(255, 0, 0);
}

.like-icon:active .main-body {
  fill: rgb(255, 0, 0);
  transition-delay: 0.05s;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.like-icon.is-liked .contour {
  fill: rgb(255, 0, 0);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .core {
  fill: rgb(255, 0, 0);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
  fill: rgb(255, 0, 0);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked {
  animation: heart-click 0.1s 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-click 0.3s 0.3s ease-in;
}

@keyframes heart-click {
  to {
    scale: 1.25;
  }
}

@keyframes sparks-click {
  to {
    fill: red;
  }
}

.card__like-button {
  min-height: 38px;
  min-width: 130px;
  background-color: #ffffff;
  outline: 2px solid #000000;
  outline-offset: -2px;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  padding-top: 2px;
  box-shadow: unset;
  transition: 0.3s ease;
  position: relative;
}

.button__text {
  mix-blend-mode: difference;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

.card__like-button:focus {
  box-shadow: 2px 2px #000;
  transition: 0.3s ease;
}

.card__like-button::after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform-origin: left;
  transition: 0.5s ease-in-out;
  transform: scale(0, 1);
}

.card__like-button:hover.card__like-button::after {
  transform: scale(1, 1);
}

.card__like-button:focus {
  box-shadow: 2px 2px #000;
  transition: 0.3s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 205px;
  align-items: center;
  justify-content: flex-start;
}

.button-save {
  margin-top: 50px;
  min-height: 55px;
  min-width: 335px;
  outline: 2px solid #000;
  outline-offset: -2px;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.floppy-button {
  width: 21px;
  height: 21px;
}

@media (width <= 375px) {
  .header {
    margin-bottom: 100px;
  }

  .card {
    min-height: unset;
  }

  .button-save {
    min-height: 84px;
    min-width: 306px;
    flex-direction: column;
  }

  .floppy-button {
    width: 28px;
    height: 28px;
  }

  .footer {
    min-height: 235px;
  }
}
