.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
      to bottom,
      var(--background-gradient)
    ),
    repeating-linear-gradient(to right, var(--background-gradient)),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);

  background-blend-mode: normal;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Inter-Variable";
  font-variation-settings: "wght" var(--wght);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  outline: 2px solid #000;
  outline-offset: -2px;
  min-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  min-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin-top: 100px;
  margin-bottom: 98px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: "PressStart2P-Regular";
}

.header-logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header-text {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

.main-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}

.card {
  outline: 2px solid #000;
  outline-offset: -2px;
  min-height: clamp(47.375rem, 43.018rem + 18.592vw, 59.75rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card-header {
  font-size: 18px;
  padding: 7px 12px 3px;
  font-variation-settings: "wght" var(--wght);
}

.card-image-container {
  height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  outline: 2px solid #000;
  margin: 2px;
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  text-transform: uppercase;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  opacity: 0.5;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  -webkit-text-stroke: 1px #fff;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px #fff) {
  .label {
    text-stroke: 1px #fff;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-image-prep {
  object-position: -160px;
}

.card-image-sprint1_start {
  filter: saturate(50%);
}

.card-image-sprint1_finish {
  filter: brightness(200%);
}

.card-image-sprint2_start {
  filter: hue-rotate(90deg);
}

.card-image-sprint2_finish {
  filter: invert(0.9) hue-rotate(180deg);
}

.card-image-sprint3_start {
  filter: sepia(100%);
}

.card-image-sprint3_finish {
  filter: blur(5px);
  object-position: 0px;
}

.card-image-here {
  filter: contrast(80%);
}

.card-text-block {
  padding: 25px 27px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card-button-container {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin-right: 27px;
  margin-bottom: 27px;
}
.card__icon-button {
  width: 39px;
  height: 34px;
  margin-top: 2px;
}
.card__icon-button:focus-visible {
  outline: 2px solid #000000;
  transition: 0.3s ease;
}

.like-icon {
  transform-origin: center;
}

.like-icon:focus {
  outline: none;
}

/* Сердце */

.contour {
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: fill;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.core {
  transition-delay: 0.03s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: transparent;
}

.sparks {
  fill: transparent;
  transform-origin: center;
}

.like-icon:hover .core {
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: rgb(0, 0, 0);
}

.like-icon:hover .main-body {
  fill: rgb(0, 0, 0);
  transition-delay: 0.05s;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.like-icon:active .core {
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: rgb(255, 0, 0);
}

.like-icon:active .main-body {
  fill: rgb(255, 0, 0);
  transition-delay: 0.05s;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.like-icon.is-liked .contour {
  fill: rgb(255, 0, 0);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .core {
  fill: rgb(255, 0, 0);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
  fill: rgb(255, 0, 0);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked {
  animation: heart-click 0.1s 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-click 0.3s 0.3s ease-in;
}

@keyframes heart-click {
  to {
    scale: 1.25;
  }
}

@keyframes sparks-click {
  to {
    fill: red;
  }
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  background-color: #ffffff;
  border: 2px solid #000000;

  font-family: "PressStart2P-Regular";
  font-size: 14px;
  padding-top: 2px;
  box-shadow: unset;
  transition: 0.3s ease;
  position: relative;
}

.button__text {
  mix-blend-mode: difference;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

.card__like-button:focus {
  box-shadow: 2px 2px #000;
  transition: 0.3s ease;
}

.card__like-button::after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform-origin: left;
  transition: 0.5s ease-in-out;
  transform: scale(0, 1);
}

.card__like-button:hover.card__like-button::after {
  transform: scale(1, 1);
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 205px;
  align-items: center;
  justify-content: flex-start;
}

.button-save {
  margin-top: 52px;
  min-height: 51px;
  min-width: 331px;
  outline: 2px solid #000;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.dialog-save {
  outline: 2px solid #000;
}
.dialog {
  /* opacity: 0.5; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  min-height: 187px;
  max-width: 353px;
}

.button-ok {
  outline: 2px solid #000;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  min-height: 32px;
  min-width: 286px;
  margin-bottom: 10px;
}

.dialog-header {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-top: 31px;
  margin-left: 31px;
  margin-right: 32px;
  gap: 20px;
}

.dialog-text {
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.floppy-dialog {
  margin-top: 2px;
  width: 39px;
  height: 39px;
}

dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: #000;
  opacity: 0.75;
}

.floppy-button {
  width: 21px;
  height: 21px;
}

@media (width <= 375px) {
  .header {
    margin-bottom: 100px;
  }

  .card {
    min-height: unset;
  }

  .button-save {
    min-height: 80px;
    min-width: 302px;
    flex-direction: column;
  }

  .floppy-button {
    width: 28px;
    height: 28px;
  }

  .footer {
    min-height: 235px;
  }

  .dialog-header {
    margin-left: 38px;
    margin-top: 29px;
  }

  .button-ok {
    min-width: 257px;
  }
}
